.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emoji__container {
    display: grid;
    place-content: center;
}

.emoji {
    font-size: 128px;
}

.buttons__container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
